@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .nav-button {
    @apply hover:bg-primary-300/[0.12] font-semibold rounded-md px-3 h-10 flex items-center gap-2 relative transition-colors duration-200;
  }

  .menu-active {
    @apply bg-primary-300 text-white;
  }
}

@layer base {
  body {
    @apply bg-white dark:bg-primary-100 relative font-outfit font-normal;
  }
}
